@model PracticaSeedCode.Models.Role

@{
    ViewData["Title"] = "Detalle del Rol";
}

<div class="container my-4">
    <h1>Detalle del Rol</h1>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success me-2">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
</div>
