@model PracticaSeedCode.Models.Role

@{
    ViewData["Title"] = "Editar Rol";
}

<div class="container my-4">
    <h1>Editar Rol</h1>
    <hr />

    <div class="col-md-4">
        <form asp-action="Edit" method="post" class="needs-validation" novalidate>
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
